{{ partial "head/math.html" . }}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" type="text/css"> -->
<link rel="stylesheet" href="{{ "/css/morphism/morphism.css" | absURL }}">


<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css">

<!-- Google fonts can track visitors -->
<!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif" rel="stylesheet" type="text/css"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> -->
<!-- Default analytics template consists of comments only. -->
{{ partial "head/analytics.html" . }}
