/* Much of the content here is derived from the Pure.css blog layout. */
/* Visit http://purecss.io/layouts/ to learn more. */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


/* ------------------------------------------------------------------------ */
 /* Foundational and global aspects of the page */
/* ------------------------------------------------------------------------ */
/* When setting the primary font stack, apply it to the Pure grid units along */
/* with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use */
/* specific font stacks to ensure the greatest OS/browser compatibility. */
html, button, input, select, textarea, p, nav, section, article,
.pure-g [class *= "pure-u"] {
  font-size: 18px;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    /* color: rgb(75, 75, 75); */
}

@media (min-width: 48em) {

  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

}

ul {
  list-style-type: none;
  margin: 0.5em;
}

li {
    margin-bottom: 0.5em;
}

/* Colorless link styling */
a {
  text-decoration: underline;
  color: inherit;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
  padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: auto;
}

/* ------------------------------------------------------------------------ */
/* Brand details, such as a sidebar or top display. */
/* ------------------------------------------------------------------------ */
.brand{
    background: #002b36; /* solarized base03 */
    color: #fff;
    padding: 1em;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    font-weight: 400;
}
.brand-tagline {
    font-weight: 300;
    color: #586e75; /* base01  */
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

/* ------------------------------------------------------------------------ */
/* Generic content, such as the index list pages */
/* ------------------------------------------------------------------------ */
.content {
    padding: 2em 1em 0;
}
.content-title {
    font-weight: 500;
    font-size: 3em;
    color: rgb(61, 79, 93);
    margin-bottom: 0.2em;
}

.content-title a {
  text-decoration: none;
  color: rgb(61, 79, 93);
}
.content-subheader {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}
/* The main content, e.g., the content of a post or about page. */
.content-body{
    color: #444;
    /*line-height: 1.5em;*/
}


/* ------------------------------------------------------------------------ */
/* Posts */
/* ------------------------------------------------------------------------ */
.post {
    padding-bottom: 2em;
}

.post-list a {
  text-decoration: none;
}

/* Meta data line below post title */
.post-subheader {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    color: #444;
    line-height: 1.5em;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

/* ------------------------------------------------------------------------ */
 /* Styling for listing pages. */
/* ------------------------------------------------------------------------ */
.list-title h1 {
  font-weight: bold;
  font-size: 3em;
  color: rgb(61, 79, 93);
  margin-bottom: 0.3em;
}

.list-date {
  display: inline;
  font-size: 0.75em;
  color: #9a9a9a;
  /* padding-right: 2em; */
  /* margin-right: 2em; */
}

/* FIXME consider deleting */
/* ToC */
/*#toc {
	float: right;
	padding: 0 1rem 1rem 1rem;
	border-left: 1px solid #eee;
	font-size: 0.9rem;
}
nav#TableOfContents li {
	padding-bottom: 0.25rem;
}
.toc-label {
	font-size: 0.8rem;
	color: #aeaeae;
}*/

/* Footer */
.footer {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #eee;
    color: #aaa;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

ul.footer-menu {
	list-style: none;
	display: block;
	text-align:center;
	margin: 0;
	padding: 0;
}
.footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 0.8rem;
}

/* ------------------------------------------------------------------------ */
/* Post Archive. */
/* ------------------------------------------------------------------------ */
/* We utilize the html5 summary tags in order to create a post archive */
/* with built-in folding. */
details {
  border-radius: 3px;
  /* background: #ffffff; */
}

details summary {
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: top;
  padding: 5px 10px;
  outline: none;
}

details[open] summary {
    /* background: #69c773; */
    /* color: #333; */
}

/* ------------------------------------------------------------------------ */
/* Mathjax support */
/* ------------------------------------------------------------------------ */
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
}

/*pre code {
    color: inherit;
    background: inherit;
}*/

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    /*white-space: nowrap;*/
    border-radius: 4px;
}
