/* Much of the content here is derived from the Pure.css blog layout. */
/* Visit http://purecss.io/layouts/ to learn more. */

/* Solarized color reference */
  /* color: #002b36; /1* base03 darkest bg    *1/ */
  /* color: #073642; /1* base02 dark bg       *1/ */
  /* color: #586e75; /1* base01 darkest gray  *1/ */
  /* color: #657b83; /1* base00 dark gray     *1/ */
  /* color: #839496; /1* base0  lightest gray *1/ */
  /* color: #93a1a1; /1* base1  light gray    *1/ */
  /* color: #eee8d5; /1* base2  light bg      *1/ */
  /* color: #fdf6e3; /1* base3  lightest bg   *1/ */
  /* color: #b58900; /1* yellow               *1/ */
  /* color: #cb4b16; /1* orange               *1/ */ 
  /* color: #dc322f; /1* red                  *1/ */
  /* color: #d33682; /1* magenta              *1/ */
  /* color: #6c71c4; /1* violet               *1/ */
  /* color: #268bd2; /1* blue                 *1/ */
  /* color: #2aa198; /1* cyan                 *1/ */
  /* color: #859900; /1* green                *1/ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


 /* Foundational and global aspects of the page */

/* When setting the primary font stack, apply it to the Pure grid units along */
/* with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use */
/* specific font stacks to ensure the greatest OS/browser compatibility. */
html, button, input, select, textarea, p, nav, section, article, 
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-size: 18px;
    font-family:  "Open Sans", Helvetica, Arial, sans-serif;
    /* color: rgb(75, 75, 75); */
}

@media (min-width: 48em) {

  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }

  .header {
    margin: 80% 2em 0;
    text-align: right;
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
}

ul {
  list-style-type: none;
  /* padding: 0px; */
  margin: 0.5em;
}

/* Basic link styling with colors. */
/* a { */
/*   text-decoration: none; */
/*   color: SteelBlue; */
/* } */
/* a:hover, */
/* a:focus { */
/*   text-decoration: underline; */
/* } */
/* a:visited { */
/*   color: Maroon; */
/* } */

/* Colorless link styling */
a {
  text-decoration: underline;
  color: inherit;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
  padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 1em auto;
}

.sidebar {
    background: #002b36; /* solarized base03 */
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    /* color: rgb(176, 202, 219); /1* purecss blog layout *1/ */
    color: #586e75; /* base01  */
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-weight: 500;
    color: rgb(61, 79, 93);
    margin-bottom: 0.2em;
}

.post-title a {
  text-decoration: none;
  color: rgb(61, 79, 93);
}


 /* For styling list pages. */
.list-title h1 {
  font-weight: bold;
  font-size: 3em;
  color: rgb(61, 79, 93);
  margin-bottom: 0.3em;
}

.list-date {
  display: inline;
  font-size: 0.75em;
  color: #9a9a9a;
  /* padding-right: 2em; */
  /* margin-right: 2em; */
}


/* Meta data line below post title */
.post-subheader {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

/* ToC */
#toc {
	float: right;
	padding: 0 1rem 1rem 1rem;
	border-left: 1px solid #eee;
	font-size: 0.9rem;
}
nav#TableOfContents li {
	padding-bottom: 0.25rem;
}
.toc-label {
	font-size: 0.8rem;
	color: #aeaeae;
}

/* Footer */ 
.footer {
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #eee;
    color: #aaa;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

ul.footer-menu {
	list-style: none;
	display: block;
	text-align:center;
	margin: 0;
	padding: 0;
}
.footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	font-size: 0.8rem;
}

/* Post Archive. */  
/* We utilize the html5 summary tags in order to create a post archive */
/* with built-in folding. */
details {
  border-radius: 3px;
  /* background: #ffffff; */
}

details summary {
  font-size: 1.25em;
  font-weight: 300;
  vertical-align: top;
  /* background: #002b36; /1* solarized base03 *1/ */
  /* color: #93a1a1; */
  /* border-bottom: 1px dotted; */
  /* border-radius: 3px; */
  padding: 5px 10px;
  outline: none;
}

details[open] summary {
    /* background: #69c773; */
    /* color: #333; */
}

/* Mathjax support */
code.has-jax {
  font: inherit;
  font-size: 100%;
  background: inherit;
  border: inherit;
  /* color: #515151; */
}

