

{{ partial "header.html" . }}

<body>
  {{ partial "brand.html" . }}
  <div class="content pure-u-1 pure-u-sm-3-4 pure-u-md-15-24 pure-u-lg-13-24">
    <section class="post">

      <h1 class="list-title">{{ .Title  }}</h1>

      {{ range .Data.Pages.GroupByDate "2006" }}
        <details open>
          <summary>{{ .Key }}</summary>
          {{ range .Pages }}
            <ul>
              <li>
                <span class="list-date">{{ .Date.Format "Jan 2" }} &middot;</span>
                <span class="post-list"><a href="{{ .RelPermalink }}">{{.Title}}</a></span>
              </li>
            </ul>
          {{ end }}
        </details>
      {{ end }}

          </section>

          {{ partial "footer.html" . }}
        </div>

</body>
</html>
