{{ partial "header.html" . }}

<section class="list-page">
{{ range (.Paginate (.Data.Pages.GroupByDate "2006") 1000).PageGroups }}
  <details open>
    <summary class="year">{{ .Key }} ({{ len .Pages }})</summary>
    {{ range .Pages.GroupByDate "Jan" }}
      <ul>
        <li>
          <details open>
            <summary>{{ .Key }} ({{ len .Pages }})</summary>
              {{ range .Pages }}
                <ul>
                  <li>
                    <span class="list-date">{{ .Date.Format "2006-01-02" }} &middot;</span>
                    <a href="{{ .RelPermalink }}">{{.Title}}</a>
                  </li>
                </ul>
              {{ end }}
          </details>
        </li>
      </ul>
    {{ end }}
  </details>
  {{ end }}
{{ template "_internal/pagination.html" . }}
</section>

{{ partial "footer.html" . }}
