{{ define "header" }}{{ .Title }}{{ end }}

{{ define "main" }}
<section class="list-page container">
{{ $lim := .Site.Params.listPaginatorPageSize | default 100000000 }}
{{ range (.Paginate (.Data.Pages.GroupByDate "2006") $lim).PageGroups }}
  <details open>
    <summary class="year">{{ .Key }} ({{ len .Pages }})</summary>
    {{ range .Pages.GroupByDate "Jan" }}
      <ul class='list-page-year'>
        <li>
          <details open>
            <summary>{{ .Key }} ({{ len .Pages }})</summary>
              {{ range .Pages }}
                <ul class='list-page-month'>
                  <li>
                    {{ if .Site.Params.displayArchiveDates }}
                      <span class="list-date">({{ .Date.Format "2006-01-02" }}) </span>
                    {{ end }}
                    <span class="list-title"><a href="{{ .RelPermalink }}">{{.Title}}</a></span>
                  </li>
                </ul>
              {{ end }}
          </details>
        </li>
      </ul>
    {{ end }}
  </details>
  {{ end }}
</section>
{{ template "_internal/pagination.html" . }}
{{ end }}
