{{ partial "header.html" . }}

<body>
<div id="layout">
{{ partial "brand.html" . }}
{{ partial "content.header.html" . }}
{{ $data := .Data }}
  <h2>By Frequency</h2>
  <section>
  <table class="terms-table">
  <thead>
    <tr>
      <th>Term</th>
      <th>Count</th>
    </tr>
  </thead>
  </tbody>
  {{ range $key, $value := .Data.Terms.ByCount }}
    <tr>
      <td>
      <a href="{{ $value.Name| urlize }}">
      {{ $value.Name}}
      </a>
      </td>
      <td>{{  $value.Count }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
</section>

  <h2>Alphabetically</h2>
  <section>
  <table class="terms-table">
  <thead>
    <tr>
      <th>Term</th>
      <th>Count</th>
    </tr>
  </thead>
  </tbody>
  {{ range $key, $value := .Data.Terms.Alphabetical}}
    <tr>
      <td><a href="{{ $value.Name| urlize }}">
        {{ $value.Name}}
      </a></td>
      <td>{{  $value.Count }}</td>
    </tr>
  {{ end }}
  </tbody>
  </table>
  </section>
{{ partial "footer.html" . }}
</div>
</body>
</html>
