{{ define "header" }}{{ .Title }}{{ end }}

{{ define "main" }}
<section class="terms container">
  <section>
  <h2>By Frequency</h2>
  {{ range $key, $value := .Data.Terms.ByCount }}
  <a href="{{ $value.Name| urlize }}">{{ $value.Name }}</a>
  ({{ $value.Count }})
  {{ end }}
  </section>


  <h2>Alphabetically</h2>
  <section>
  {{ range $key, $value := .Data.Terms.Alphabetical }}
  <a href="{{ $value.Name| urlize }}">{{ $value.Name }}</a>
  ({{ $value.Count }})
  {{ end }}
  </section>
</section>
{{ end }}
