<h1 class="post-title">
  <a href="{{ .RelPermalink }}">
    {{ .Title }}
    {{ if .Draft }} :: Draft {{end}}
  </a>
</h1>

<span class="post-subheader">
  {{ if .Params.author }}
    By {{ .Params.author }}
  {{ end }}

  {{ if .Params.categories }}
    in
    {{ range .Params.categories }}
      <a  href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  {{ end }}

  <br>
  {{ if not .Params.hidedDate }}
    {{ .Date.Format "Jan 2, 2006" }} &middot;
  {{end }}

  {{ if not .Params.hideReadTime }}
    {{ .ReadingTime }} minute read
  {{ end }}
</span>
