  <h1 class="content-title"><a href="{{ .RelPermalink }}">
    {{ .Title }}
    {{ if .Draft }} :: Draft {{ end }}
  </a></h1>

  {{ if .Params.subtitle }}<p class=subtitle>{{ .Params.subtitle }}</p>{{ end }}

  {{ if or (eq .Type "post") (.Params.meta)  }}
  <section class="content-meta">
  <p>
    {{ if not .Params.hidedate }}
      {{ if or .Site.Params.showPostTimes .Params.showposttimes }}
      {{ $.Scratch.Set "dateFormat" "January 2, 2006 15:04" }}
      {{ else }}
      {{ $.Scratch.Set "dateFormat" "January 2, 2006" }}
      {{ end }}
      {{ $df := $.Scratch.Get "dateFormat" }}
    <span class="content-meta-date">
      {{ .Date.Format $df }}
      {{ with .Params.updated }}
      (updated {{ dateFormat $df . }})
      {{ end }}
    </span>
    &nbsp;&nbsp;
    <br>
    {{end }}

    <!-- {{ if not .Params.hidereadtime }} -->
    <!--     {{ .ReadingTime }} min read -->
    <!-- {{ end }} -->

    {{ partial "author.html" . }}
    {{ partial "categories.html" . }}
    {{ partial "groups.html" . }}
    {{ partial "tags.html" . }}
    {{ partial "series.html" . }}


    </ul>
  </p>
  </section>
  {{ end }}
