<!-- Load MathJax, if necessary. -->
{{ if or .Params.math .IsHome }}
  {{ partial "math.html" . }}
{{ end }}

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Main CSS file based on Pure blog layout -->
<link rel="stylesheet" href="{{ "/css/morphism.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/override.css" | absURL }}">
