{{ partial "math.html" . }}
<link rel="stylesheet" href="{{ "/css/morphism/morphism.css" | absURL }}">

{{ $default := "/css/morphism/colorthemes/default.css" }}
<link rel="stylesheet" href="{{ $default | absURL }}">
{{ with .Site.Params.colortheme }}
  {{ $colortheme := replace $default "default" . }}
  <link rel="stylesheet" href="{{ $colortheme | absURL }}">
{{ end}}

<!-- <link rel="stylesheet" href="{{ "/css/morphism/override.css" | absURL }}"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif" rel="stylesheet" type="text/css"> -->
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet"> -->

{{ template "_internal/google_analytics_async.html" . }}
