{{ define "header" }}Home{{ end }}
{{ define "main" }}

  <div class='index-about'>
  <section id="about" class="index-section container">
    {{ partial "home/about.html" . }}
  </section>
  </div>

  <header id="content-type">Recent Activity</header>

  {{ $lim := .Site.Params.indexItemLimit | default 15  }}

  {{ range last $lim (where .Site.RegularPages "Section" "post") }}
    <section class="index-post container">
      {{ partial "content/meta.html" . }}
      <section class="content-main">{{ .Summary }}
        {{ if .Truncated }}
        <span class="read-more">
          <a href="{{ .RelPermalink  }}">Read More</a>
        </span>
        {{ end }}
      </section>
    </section>
  {{ end }}
{{ end }}
