{{ partial "header.html" . }}
{{ partial "math.html" . }}
<body>

  <div id="layout" class="pure-g">

    <div class="content content-column pure-u-1 pure-u-md-4-5">
      {{ partial "brand.html" . }}

        {{ range first 5 .Site.Pages }}
          <section class="post-summary">
            {{ partial "content.header.html" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
              <a href="{{ .RelPermalink  }}">Read On &rarr;</a>
            {{ end  }}
          </section>
        {{ end  }}

      {{ partial "footer.html" . }}
    </div>
  </div>
  {{ partial "body.includes.html" . }}
</body>
</html>
